<div class="full-height">
    <div class="logo">
        <img src="../../../../assets/logo/logo.png" alt="e-Commerce Control Panel | Bizyhive" />
    </div>


    <div class="logout-text">

        <h1 class="header">
            {{ 'VIEWS.LOGOUT.TITLE' | translate }}
        </h1>

        <h4>
            {{ 'VIEWS.LOGOUT.EXPLAIN' | translate }}...
        </h4>

        <h5>
            {{ 'VIEWS.LOGOUT.THANK_YOU' | translate }}
        </h5>

    </div>


    <div class="powered-by">

        <div class="text">
            powered by
        </div>

        <div class="img">
            <img src="https://adorithm.com/assets/logo/logo.png" alt="Adorithm" />
        </div>
    </div>
</div>





<ngx-spinner size="medium" type="square-jelly-box" [fullScreen]="true" color="#E6AF00" bdColor="rgba(0, 0, 0, 0.9)">
    <p style="color: #fff"> {{ 'GENERIC.LABELS.LOADING' | translate }}... </p>
</ngx-spinner>