.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $dropdown-menu-background-color;
    border-color: $dropdown-menu-border-color;

    a {
        display: block;
        padding: 12px 15px;
        text-decoration: none;
        transition: 0.4s;
        color: $btn-menu-dropdown-link-color;

        &:hover {
            background-color: #ccc;
            color: $btn-menu-dropdown-link-color-hover;
        }
    }

}