@import './colors';

.nav-pills {
    margin-bottom: 40px;

    .nav-item {
        .nav-link {
            text-decoration: none;
            font-weight: 600;
            color: $pills-default-color;
            border-radius: 7px;

            &.active {
                background-color: $pills-active-background;
                color: $pills-active-color;
            }
        }
    }
}