.w-120px {
    width: 120px;
}

.w-150px {
    width: 150px;
}

.w-200px {
    width: 200px;
}

.w-285px {
    width: 285px;
}







.h-60px {
    height: 60px;
}

.h-120px {
    height: 120px;
}

.h-285px {
    width: 285px;
}