<div class="container-error-page">

    <div class="not-found-image grid-item">
        <img src="../../../../assets/images/error-pages/404.png"
            alt="404 Error - {{ 'VIEWS.PAGE_NOT_FOUND.IMAGE_ALT' | translate }}" />
    </div>

    <div class="grid-item">

        <div style="padding-left: 20px; padding-right: 20px;">

            <h1 class="title">
                {{ 'VIEWS.PAGE_NOT_FOUND.EXPLAIN' | translate }}...😔
            </h1>

            <div class="link">
                <a href="/dashboard">
                    <i class="fas fa-home"></i>
                    {{ 'GENERIC.LABELS.HOME' | translate }}
                </a>
            </div>

        </div>

    </div>


</div>