<footer>


    <div class="footer-item version-label">
        v {{ app_version }}
    </div>


    <div class="footer-item app-name-label">
        <!-- e-Commerce Control Panel -->
        <img src="../../../../../../assets/logo/logo-icon.png" alt="e-Commerce Control Panel - Bizyhive (logo)">
        Bizyhive suit &copy; 20[0-9][0-9]
    </div>


    <div class="footer-item powered-by-label">
        <span class="text">powered by</span>
        <a href="https://tsalmas.com" target="_blank">
            Tsalmas Anastasios
        </a>
    </div>



</footer>
