@mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



$circleSize: 400px;
$radius: 50%;
$shadow: none;
$fontColor: rgb(250, 250, 250);





.profile-pic {
    color: transparent;
    transition: all .3s ease;
    @include object-center;
    position: relative;
    transition: all .3s ease;
    width: $circleSize;
    height: $circleSize;

    input {
        display: none;
    }

    img {
        position: absolute;
        object-fit: cover;
        width: $circleSize;
        height: $circleSize;
        box-shadow: $shadow;
        border-radius: $radius;
        z-index: 0;
    }

    .-label {
        @include object-center;
        cursor: pointer;
        height: $circleSize;
        width: $circleSize;
        font-weight: bold;
    }

    &:hover {
        .-label {
            background-color: rgba(0, 0, 0, .8);
            z-index: 10000;
            color: $fontColor;
            transition: background-color .2s ease-in-out;
            border-radius: $radius;
            margin-bottom: 0;
        }
    }

    span {
        display: inline-flex;
        padding: .2em;
        height: 2em;
    }
}



.profile-pic-container {
    @include object-center;
}




@media only screen and (max-width: 576px) {
    $circleSize: 200px;
}








.edit-action-link {
    font-size: 26px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        opacity: 0.7;
    }
}



.text-success {
    color: #49A75C !important;
}

.text-danger {
    color: #E13550 !important;
}